.navbar {
	$nav__padding: 100% - $dimen__container--width;

	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: $dimen__navbar--height;
	padding: 0% $nav__padding / 2;
	background-color: $color__light;
	z-index: 9;

	&__logo {
		font-family: $font__heading;
		font-size: 20px;
	}

	&__nav {
		display: flex;
		flex-direction: row;
		align-items: center;
		width: max-content;
		height: fit-content;

		&--link {
			color: $color__dark--500;
			transition: all 0.3s ease-in-out;
			transition-property: color, text-decoration;

			&:hover {
				color: $color__dark;
				text-decoration: underline;
			}

			&.--active {
				color: $color__dark;
				text-decoration: underline;
			}
		}

		&--list {
			display: block;
			margin: {
				left: 50px;
			}
		}
	}
}
